<!DOCTYPE html>
<!--
 ____                               __    ____    __                               ______  __  __     
/\  _`\                  __        /\ \__/\  _`\ /\ \                             /\__  _\/\ \/\ \    
\ \,\L\_\    ___   _ __ /\_\  _____\ \ ,_\ \,\L\_\ \ \___      __     _ __    __  \/_/\ \/\ \ \/'/'   
 \/_\__ \   /'___\/\`'__\/\ \/\ '__`\ \ \/\/_\__ \\ \  _ `\  /'__`\  /\`'__\/'__`\   \ \ \ \ \ , <    
   /\ \L\ \/\ \__/\ \ \/ \ \ \ \ \L\ \ \ \_ /\ \L\ \ \ \ \ \/\ \L\.\_\ \ \//\  __/  __\ \ \ \ \ \\`\  
   \ `\____\ \____\\ \_\  \ \_\ \ ,__/\ \__\\ `\____\ \_\ \_\ \__/.\_\\ \_\\ \____\/\_\\ \_\ \ \_\ \_\
    \/_____/\/____/ \/_/   \/_/\ \ \/  \/__/ \/_____/\/_/\/_/\/__/\/_/ \/_/ \/____/\/_/ \/_/  \/_/\/_/
                                \ \_\                                                                 
                                 \/_/                                                                                             
//-->                                                                                                                                                                         
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A simple script share">
        <meta name="author" content="Sworder">
        <title>ScriptShare | Docs</title>
        <meta content="ScriptShare | Docs" property="og:title">
        <meta content="www.scriptshare.tk" property="og:site_name" >
        <link href="/assets/logo.png" rel="icon" type="image/x-icon">
        <meta content="/assets/logo.png" property="og:image">
        <meta content="ScriptShare documentation" property="og:description">
        <meta name="devtime-site" content="www.scriptshare.tk">
        <meta name="devtime-title" content="www.scriptshare.tk">
        <meta name="theme-color" content="#FFFFFF">
        <meta content="https://www.scriptshare.tk/">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/codeMirror.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>

    <body>
        <div id="page-wrapper">
            <h1 class="title" onclick="self.location.href='/'">{ScriptShare.tk}</h1>
            <p>A simple script share</p>
            <br/>
            <h4>Rooter</h4>
            <div id="api-input"><pre><p>https://scriptshare.tk/api/codes</p></pre></div>
            <br/>
            <br/>
            <h4>Request JSON</h4>
            <div id="api-input"><pre><p>https://scriptshare.tk/api/codes/:id</p></pre></div>
            <h4>Response</h4>
            <div id="api-input"><pre><p>{"name":"256de15bec6a8809e05f5a245329d01b","code":"{}","createdAt":1546194029194,"lastEditedAt":1546194029194}</p></pre></div>
            <br/>
            <br/>
            <h4>Update Script</h4>
            <div id="api-input"><pre><p>PUT /api/codes/:id</p></pre></div>
            <h4>Response</h4>
            <div id="api-input"><pre><p>'Code successfully edited!'</p></pre></div>
        </div>
        <footer>
            <p class="text-center"><strong class="title" onclick="self.location.href='/'">ScriptShare.tk</strong> © 2019 | <a href="/api/docs">API</a></p>
        </footer>
    </body>
</html>
